html,body{
	padding: 0;
	margin: 0;
}
							/*Header*/
.header{
	background: #fff;
	width: 100%;
}
.header_content{
	position: relative;
	white-space: nowrap;
	width: 900px;
	height: 105px;
	margin: 0 auto;
}
.header_content_logo{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 300px;
}
.header_content_nav{
	text-align: right;
	float: right;
	width: 600px;
	height: 103px;
	line-height: 83px;
}
.header_content_nav_list{
	margin-top: 15px;
	display: inline-block;
}
.header_content_nav_list-item{
	display: inline-block;
	padding: 0 10px;
}
.header_content_nav_link{
	display: inline-block;
	text-decoration: none;
	color: #989898;
	font-family: 'Tribushet MS', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.header_content_nav_link:hover{
	border-bottom: 5px solid;
	border-color: #306DA4;
	color: #306DA4;
}
							/*Banner*/
.banner{
	position: relative;
	width: 100%;
	height: 589px;
	background-image: url(../img/banner.png), url(../img/background-grid.png);
	background-blend-mode:screen;
	font-family: "Trebuchet MS", sans-serif;
	color: #fff;
	margin-top: -3px;

}
.banner_background-blue{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
 	background-color: rgba(11,53,84,0.6);
 	background-repeat: repeat;
}
.banner_contain{
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 900px;
	height: 589px;
	margin: 0 auto;
	padding: 120px 24px;
	text-align: center;
}
.banner_contain_first-line{
	font-size: 32px;
	margin: 10px;
	font-weight: normal;
}
.banner_contain_second-line{
	width: 700px;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
}
.banner_contain_third-line{
	width: 460px;
	font-style: italic;
	font-weight: normal;
	text-indent: 15px;
	margin: 20px auto;
	text-align: left;
}
.banner_contain_button{
	width: 245px;
	height: 55px;
	color: #FFF;
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px auto;
}
							/*Offers*/
.offers{
	position: relative;
	width: 900px;
	height: 540px;
	margin: 0 auto;
}
.offers_title{
	margin: 0 0 40px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: "Trebuchet MS", sans-serif;
	color: #35495A;
}
.best-value-offer{
	z-index: 2;
	position: absolute;
	background-color: #EE8129;
	left: 300px;
	width: 300px;
	min-height: 470px;
	font-family: "Trebuchet MS", sans-serif;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-radius: 5px;
	padding-bottom: 1px;
}
.best-value-offer_title{
	position: relative;
	width: 290px;
	height: 77px;
	margin: 0 auto;
	text-align: center;
}
.best-value-offer_title-name,
.standart-offer_title-name,
.ultimate-offer_title-name{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
    height: 30px;
	margin: auto 0;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.best-value-offer_content{
	position: relative;
	width: 290px;
	height: 388px;
	background: #fff;
	padding: 1px;
	margin: 0px auto;
}
.best-value-offer_content_price-name,
.best-value-offer_content_price-value,
.standart-offer_content_price-name,
.standart-offer_content_price-value,
.ultimate-offer_content_price-name,
.ultimate-offer_content_price-value{
	position: relative;
	font-size: 24px;
	color: #35495A;
	text-align: center;
	margin-top: 15px;
}
.best-value-offer_content_price-value,
.standart-offer_content_price-value,
.ultimate-offer_content_price-value{
	margin-top: -10px;
}
.best-value-offer_content_price-number,
.standart-offer_content_price-number,
.ultimate-offer_content_price-number{
	font-size: 300%;
	font-weight: bold;
}
.best-value-offer_content_price-dollar,
.standart-offer_content_price-dollar,
.ultimate-offer_content_price-dollar{
	position: relative;
	vertical-align: top;
	top: 10px;
	font-weight: bold;
}
.best-value-offer_content_price-month,
.standart-offer_content_price-month,
.ultimate-offer_content_price-month{
	position: relative;
	right: 5px;
	top: 5px;
	font-size: 75%;
}
.best-value-offer_content_list,
.standart-offer_content_list,
.ultimate-offer_content_list{
	position: relative;
	top: 5px;
	width: 270px;
	margin: 0 auto;
}
.best-value-offer_content_list-list,
.standart-offer_content_list-list,
.ultimate-offer_content_list-list{
	list-style: none;
	width: 269px;
	padding: 1px;
}
.best-value-offer_content_list_list-item,
.standart-offer_content_list_list-item,
.ultimate-offer_content_list_list-item{
	position: relative;
	list-style-position: inside;
	padding: 7px 0 7px 60px;
	border-bottom: 1px solid #fff;
	opacity: 0.7;
}
.best-value-offer_content_list_list-item::before,
.standart-offer_content_list_list-item::before,
.ultimate-offer_content_list_list-item::before{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 8px;
	background: url("../img/marker.png") 0 0 no-repeat;
	margin-left: -1.6em;
	content: "";
}
.best-value-offer_content_list_list-item:nth-child(odd),
.standart-offer_content_list_list-item:nth-child(odd),
.ultimate-offer_content_list_list-item:nth-child(odd){
	background: #EDF5FD;
}
.best-value-offer_content_list_list-item:nth-child(even),
.standart-offer_content_list_list-item:nth-child(even),
.ultimate-offer_content_list_list-item:nth-child(even){
	background: #F5F5F6;
}
.best-value-offer_content_list_list-item:last-child,
.standart-offer_content_list_list-item:last-child,
.ultimate-offer_content_list_list-item:last-child{
	border-bottom: none;
}
.best-value-offer_content_button,
.standart-offer_content_button,
.ultimate-offer_content_button{
	text-align: center;
}
.best-value-offer_content_button-item{
	width: 265px;
	padding: 10px 30px;
	border-radius: 7px;
	background-color: #EE8129;
	outline: none; 
	font-family: "Trebuchet MS", sans-serif;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}

.standart-offer{
	position: absolute;
	margin: auto 0;
	top: 85px;
	width: 300px;
	height: 430px;
	font-family: "Trebuchet MS", sans-serif;
	border-radius: 7px 0 0 7px;
	background-color: #37C2D3;
}
.standart-offer_title{
	position: relative;
	width: 290px;
	height: 62px;
	margin: 0 auto;
	text-align: center;
}

.standart-offer_content{
	position: relative;
	width: 298px;
	height: 372px;
	background: #fff;
	border: 2px solid #eee;
	border-top: none;
	border-right: none;
	padding-top: 1px;
	border-radius: 0 0 0 7px;
}
.standart-offer_content_button-item,
.ultimate-offer_content_button-item{
	width: 265px;
	padding: 10px 30px;
	border-radius: 7px;
	background-color: #3371A6;
	outline: none; 
	font-family: "Trebuchet MS", sans-serif;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}
.ultimate-offer{
	position: absolute;
	background-color: #1CB79A;
	right: 0;
	top: 85px;
	width: 300px;
	height: 430px;
	font-family: "Trebuchet MS", sans-serif;
	border-radius: 0 7px 7px 0;
}
.ultimate-offer_title{
	position: relative;
	width: 290px;
	height: 62px;
	margin: 0 auto;
	text-align: center;
}
.ultimate-offer_content{
	position: relative;
	width: 298px;
	height: 372px;
	background: #fff;
	border: 2px solid #eee;
	border-top: none;
	border-left: none;
	padding-top: 1px;
	border-radius: 0 0 7px 0 ;
}

							/* Comments*/
.comments{
	position: relative;
	top: 100px;
	width: 900;
	min-height: 250px;
	background-image: url(../img/background.png), url(../img/background-grid.png);
	background-blend-mode: screen;
	padding-top: 1px;
	padding-bottom: 55px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	text-align: center;
}
.comments_background-grey{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
 	background-color: rgba(0,0,0,0.7);
}
.comments_title{
	position: relative;
	text-align: center;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #306DA4;
	font-weight: 900;
}
.what-color{
	color: #E07A28;
	font-weight: 200;
}
.comments_box{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 490px;
	min-height: 100px;
	margin-left: 40px;
	margin-top: 20px;
	padding: 1px;
}
.comments_box_photo{
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
}
.comments_box_photo::before{
	position: absolute;
	top: 50%;
	left: 101px;
	margin-top: -12px;
	width: 0;
	height: 0;
	border: 12px solid;
	border-color: transparent #fff transparent transparent;
	content: "";
}
.comments_box_content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 365px;
	min-height: 98px;
	padding: 10px 10px 0 10px;
	background: #f7f7f7;
}
.comments_box_content_title{
	color: #5E8CB8;
	overflow: hidden;
	padding-bottom: 4px;
	padding-right: 5px;
	border-bottom: 1px dotted #999;
	font-style: italic;
}
.comments_box_content_title-name{
	float: left;
}
.comments_box_content_title-name::before{
	content: "- ";
}
.comments_box_content_title-type{
	float: right;
}
.comments_box_content_comment{
	min-height: 50px;
	text-align: left;
	margin: 5px 0;
	color: #999;
}
							/* Services */
.services{
	position: relative;
	padding: 0;
	width: 100%;
	min-height: 564px;
	background: #FFF;
	font-family: "Trebuchet MS", sans-serif;
	text-align: center;
}
.services_content{
	padding: 0;
	width: 900px;
	height: 100%;
	margin: 0 auto;
}
.services_content_title{
	margin: 65px 0 70px 0;
	text-transform: uppercase;
	color: #35495A;
}
.services_content_box{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 290px;
	min-height: 380px;
}
.services_content_box__first{
	margin-left: 0;
}
.services_content_box_background-img{
	position: relative;
	width: 142px;
	height: 142px;
	background: #306DA4;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	margin: 10px auto 20px;
	-webkit-box-shadow: inset 10px 5px 1px -5px rgba(0,0,0,.2);
	box-shadow: inset inset 10px 5px 1px -5px rgba(0,0,0,.2);
}
.services_content_box-caption{
	width: 142px;
	text-transform: uppercase;
	color: #306DA4;
	font-size: 30px;
	font-weight: normal;
}
.services_content_box_written{
	color: #989898;
}
.services_content_box_img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
							/* Middle section */
.middle-section{
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 70px;
	width: 100%;
	min-height: 475px;
	font-family: "Trebuchet MS", sans-serif;
	background-image: url(../img/background-middle-section.png), url(../img/background-grid.png);
	background-blend-mode: screen;
}
.middle-section_box{
	position: relative;
	width: 900px;
	min-height: inherit;
	margin: 0 auto;
}
.middle-section_box_content{
	width: 680px;
	min-height: inherit;
}
.middle-section_box_content-title{
	height: 94px;
	line-height: 2em;
	color: #E07A28;
	text-transform: uppercase;
	font-size: 24px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	margin-bottom: -5px;
}
.middle-section_box_content-pharagraph{
	color: #FFF;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 40px;
}
.middle-section_box_content_list{
	width: 560px;
}
.middle-section_box_content_list-item{
	margin-top: 20px;
	color: #989898;
}
.middle-section_box_content_list-item:nth-child(even){
	color: #306da4;
}
							/* Contacts */
.contacts{
	position: relative;
	top: 100px;
	min-height: 345px;
	padding: 1px;
	font-size: 0;
	font-family: "Trebuchet MS", sans-serif;
	color: #999;
	background: #FFF;
}
.contacts__item{
	position: relative;
	display: inline-block;
	width: 50%;
	margin: 0;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
}
.contacts__list{
	position: relative;
	list-style-type: none;
	display: inline-block;
	text-align: left;
	margin: 0 auto;
	padding: 30px;
}
.contacts__address{
	position: relative;
	width: 130px;
	line-height: 1.7em;
}
.contacts__address::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 35px;
	top: 0px;
	left: -50px;
	background-image: url(../img/address.png);
	
}
.contacts__phone{
	position: relative;
	line-height: 4em;
}
.contacts__email{
	position: relative;
}
.contacts__phone::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	left: -50px;
	background-image: url(../img/contacts__phone.png);
}
.contacts__email::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 20px;
	top: 0px;
	left: -50px;
	background-image: url(../img/contacts__email.png);
}
.contacts__icons{
	position: relative;
	left: -30px;
	margin-top: 30px;
}
.contacts__icons li{
	margin-right: 20px;
	display: inline-block;
}
.contacts__facebook{
	width: 46px;
	height: 46px;
	background: url(../img/contacts__icons.png) 0 0 no-repeat;
}
.contacts__twitter{
	width: 46px;
	height: 46px;
	background: url(../img/contacts__icons.png) -69px 0;
}
.contacts__linkIn{
	width: 46px;
	height: 46px;
	background: url(../img/contacts__icons.png) -138px 0 ;
}
.contacts__map{
	min-height: 345px;
	background-image: url(../img/contacts__map.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
						/* Footer */
.footer{
	width: 100%;
	display: table;
	position: relative;
	top: 95px;
	height: 95px;
	background: #306da4;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #FFF;
}
.footer__copyright{
	display: table-cell;
	vertical-align: middle;
	font-weight: normal;
}
.footer__text_bold{
	font-weight: bold;
}
.footer__text_color{
	color: #1d1c1c;
}
